<h1>Welcome to NEWBIZ.com, </h1>
    <p>
      You have successfully applied to <%= @job.title %> at <%= @job.recruiter.cname%>
      Recruiter may view your profile shortly.
    </p>
    
    <p>Thanks for applying and have a great day!</p>