<h1>Welcome to NEWBIZ.com, </h1>
    <p>
      You have successfully signed up to NEWBIZ.com,
      your username is: <%= @jobseeker_user.email %><br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>