<h1>Welcome to NEWBIZ.com, </h1>
    <p>
      A new developer <%= @user.email %> has applied to <%= @job.title %> posted by you.
    </p>
    
    <p>To view the profile of developer please login </p>